body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    width: 100%;
}

/* LEFT COLUMN */
.content {
    width: 70%;
    background: white;
    padding: 30px;
    min-height: 100vh;
}

h1 {
    font-size: 28px;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    margin-top: 40px;
    color: darkred;
    letter-spacing: 2px;
}

/* RIGHT COLUMN - NAVIGATION */
.sidebar {
    width: 30%;
    background: #e6e6e6;
    padding: 30px;
    border-left: 2px solid gray;
}

.sidebar h3 {
    font-size: 20px;
    margin-bottom: 20px;
}

.sidebar a {
    display: block;
    padding: 10px 0;
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.sidebar a:hover {
    color: darkred;
    font-weight: bold;
}
